ci:
  skip: [interrogate]

default_language_version:
  python: python3.10

repos:
  # Formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
      - id: fix-encoding-pragma
        args: [--remove]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.5.0"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        types: [file]
        types_or: [python, pyi]
        args: [--py310-plus]

  - repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
      - id: absolufy-imports
        exclude: ^benchmark
        types: [file]
        types_or: [python, pyi]

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # Notebook tools
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - "--drop-empty-cells"
          - "--extra-keys"
          - "metadata.vscode metadata.language_info.version"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.6
    hooks:
      - id: ruff
        name: "ruff sort notebooks"
        args:
          - "--fix"
          - "--select=I"
          - "--config=.ruff-notebooks.toml"
        alias: isort-notebooks
        types_or: [jupyter]
      - id: ruff-format
        name: "ruff format notebooks"
        types_or: [jupyter]
        args:
          - "--config=.ruff-notebooks.toml"
        alias: format-notebooks
      - id: ruff
        name: "ruff lint notebooks"
        types_or: [jupyter]
        args:
          - "--config=.ruff-notebooks.toml"
        alias: check-notebooks

  # Linters

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        name: "ruff sort imports"
        args:
          - "--fix"
          - "--select=I"
        alias: isort
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]
      # Commands above are both formatters an not linters
      # See also: https://github.com/astral-sh/ruff/discussions/7310#discussioncomment-7102010
      - id: ruff
        name: "ruff lint"
        exclude: "docs/source/conf.py"
        types_or: [python, pyi]

  # - repo: https://github.com/PyCQA/flake8
  #   rev: 6.0.0
  #   hooks:
  #     - id: flake8
  #       alias: flake8-docs
  #       args:
  #         - "--select=DAR"
  #         - "--count"
  #       name: "flake8 lint docstrings"
  #       exclude: "docs|setup.py|tests?/|glotaran/builtin/megacomplexes|glotaran/cli|benchmark|glotaran/builtin/io/ascii"
  #       additional_dependencies: [flake8-docstrings, darglint==1.8.0]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        exclude: "docs|benchmark/|tests/.*"
        additional_dependencies: [types-tabulate, numpy, pydantic]

  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml, glotaran]
        pass_filenames: false

  # - repo: https://github.com/pre-commit/pygrep-hooks
  #   rev: v1.10.0
  #   hooks:
  #     - id: python-check-blanket-noqa
  #       exclude: "docs|tests?"
  #     - id: python-check-blanket-type-ignore
  #       exclude: "docs|tests?"
  #     - id: python-use-type-annotations

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        types: [file]
        types_or: [python, pyi, markdown, rst, jupyter]
        args:
          - --ignore-words-list=glotaran,doas,projectio

  - repo: https://github.com/rhysd/actionlint
    rev: "v1.7.7"
    hooks:
      - id: actionlint
