extend-exclude = [
  "venv",
  "docs/conf.py",
  "glotaran/builtin/io/ascii/wavelength_time_explicit_file.py", # That one definitely needs a rewrite
]
include = [ "*.py", "*.pyi", "**/pyproject.toml" ]

line-length = 99

# Assume Python 3.10.
target-version = "py310"


[lint]
select = [ "ALL" ]

# Not actually external but we deactivated them for now
external = [ "D400", "D403", "D107", "D414" ]

ignore = [
  "D100",    # Missing docstring in public module
  "D101",    # Missing docstring in public class
  "D102",    # Missing docstring in public method
  "D103",    # Missing docstring in public function
  "D104",    # Missing docstring in public package
  "D202",
  "D213",
  "D203",
  "D403",    # First word of the docstring should be capitalized: `str` -> `Str`
  "D404",    # First word of the docstring should not be "This"
  "D415",    # First line should end with a period, question mark, or exclamation point
  "ISC002",
  "RUF001",
  "RUF002",
  "RUF003",
  "B008",
  "PLR0913", # Too many arguments in function definition
  "ERA001",  # Found commented-out code
  "COM812",  # Trailing comma missing
  "S101",    # Use of `assert` detected
  "TD002",   # Missing author in TODO; try: `# TODO(<author_name>): ...` or `# TODO @<author_name>: ...`
  "TD003",   # Missing issue link for this TODO
  "FIX002",  # Line contains TODO, consider resolving the issue
  "A005",    # Module `shadows a Python standard-library module, we use abs imports
  "ARG002",  # Unused method argument
  # Covered by formatter
  "ISC001",
]

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

unfixable = [ "F401" ]

[lint.per-file-ignores]
"tests/*" = [
  "ARG001",
  "RUF012",
  "N811",
  "T20",
  "PIE804",
  "ANN201",
  "ANN202",  # Missing return type annotation for private function
  "ANN401",  # Dynamically typed expressions (typing.Any) are disallowed in `**kwargs`
  "ARG002",  # Unused method argument
  "ARG003",  # Unused method argument
  "D",
  "FBT001",
  "FBT002",  # Boolean default positional argument in function definition
  "FBT003",  # Boolean positional value in function call
  "EM101",   # Exception must not use a string literal, assign to variable first
  "PLR2004", # Magic value used in comparison
  "PT011",   # pytest.raise is too broad, set the `match` parameter or use a more specific exception
  "SLF001",  # Private member accessed
  "S307",    # Use of possibly insecure function; consider using `ast.literal_eval`
  "TRY003",  # Avoid specifying long messages outside the exception class
  "TRY300",  # Consider moving this statement to an `else` block
]
"*/__init__.py" = [ "F401" ]
"glotaran/builtin/io/netCDF/netCDF.py" = [ "N999" ]
"docs/*" = [ "INP001", "E501", "BLE001" ]
# Needs a full rewrite anyway
"glotaran/builtin/io/ascii/wavelength_time_explicit_file.py" = [ "PTH" ]
"glotaran/utils/pydantic_serde.py" = [ "ANN401" ]

[lint.isort]
required-imports = [ "from __future__ import annotations" ]
known-first-party = [ "glotaran" ]
force-single-line = true

[lint.pydocstyle]
convention = "numpy"
