include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md
setup.cfg
setup.py

recursive-include glotaran *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
