[tool.black]
line-length = 99
target-version = ['py36', 'py37', 'py38']
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "hug"
src_paths = ["flake8_nb", "test"]
include_trailing_comma = true
line_length = 99
multi_line_output = 3
known_first_party = ["glotaran"]
force_single_line = true
