[tool.black]
line-length = 99
target-version = ['py38']
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "hug"
src_paths = ["glotaran"]
include_trailing_comma = true
line_length = 99
known_first_party = ["glotaran"]
force_single_line = true
remove_redundant_aliases = true

[tool.interrogate]
exclude = ["setup.py", "docs", "*test/*", "benchmark/*"]
ignore-init-module = true
fail-under = 59

[tool.nbqa.addopts]
flake8 = [
    "--extend-ignore=E402,F404"
]


[tool.coverage.run]
branch = true
include = [
  'glotaran/*',
]
omit = [
  'setup.py',
  '*/tests/*',
  '*/test/*',
# comment the above line if you want to see if all tests did run
  ]

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_lines = [
  # Have to re-enable the standard pragma
  'pragma: no cover',

  # Don't complain about missing debug-only code:
  'def __repr__',
  'if self\.debug',

  # Don't complain if tests don't hit defensive assertion code:
  'raise AssertionError',
  'raise NotImplementedError',

  # Don't complain if non-runnable code isn't run:
  'if 0:',
  'if __name__ == .__main__.:',
  'if TYPE_CHECKING:'
]
