# general install dependencies
pip>=18.0
wheel>=0.30.0

# glotaran setup dependencies
asteval==0.9.26
click==8.0.3
netCDF4==1.5.8
numba==0.55.1
numpy==1.21.5
openpyxl==3.0.9
pandas==1.4.0
rich==11.1.0
ruamel.yaml==0.17.21
scipy==1.7.3
sdtfile==2022.2.2
tabulate==0.8.9
xarray==0.21.1

# documentation dependencies
-r docs/requirements.txt


# testing dependencies
tox>=3.0.0
tox-direct>=0.4
pytest>=3.7.1
pluggy>=0.7
coverage[toml]
pytest-cov>=2.5.1
pytest-env>=0.6.2
pytest-runner>=2.11.1
pytest-benchmark>=3.1.1
pytest-allclose>=1.0.0
types-dataclasses>=0.1.7

# code quality assurance
flake8>=3.8.3
pre-commit>=2.9.0
