# general install dependencies
pip>=18.0
wheel>=0.30.0

# glotaran setup dependencies
asteval==0.9.23
numpy==1.20.1
scipy==1.6.1
click==7.1.2
numba==0.53.1
pandas==1.2.3
pyyaml==5.4.1
xarray==0.17.0
netCDF4==1.5.6
setuptools==41.2
sdtfile==2020.12.10
tabulate==0.8.9

# documentation dependencies
-r docs/requirements.txt


# testing dependencies
tox>=3.0.0
tox-direct>=0.4
pytest>=3.7.1
pluggy>=0.7
coverage[toml]
pytest-cov>=2.5.1
pytest-runner>=2.11.1
pytest-benchmark>=3.1.1

# code quality assurance
flake8>=3.8.3
pre-commit>=2.9.0
