# glotaran setup dependencies
asteval==1.0.8
netCDF4==1.7.4
numba==0.64.0
numpy==2.2.6
odfpy==1.4.1
openpyxl==3.1.5
pandas==2.2.2
pydantic==2.12.5
ruamel.yaml==0.19.1
scipy==1.15.3
sdtfile==2024.5.24
tabulate==0.10.0
typing_extensions==4.15.0
xarray==2024.7.0
