# general install dependencies
pip>=18.0
wheel>=0.30.0

# needed to release new versions
bump2version>=0.5.11

# glotaran setup dependencies
numpy==1.19.0
scipy==1.5.2
click==7.1.2
cloudpickle==1.5.0
dask[bag]==2.18.1
lmfit==1.0.0
numba==0.50.0
pandas==1.0.4
pyyaml==5.3.1
xarray==0.16.0
netCDF4==1.5.3
setuptools==41.2

# documentation dependencies
Sphinx>=3.0.0
sphinx-rtd-theme>=0.3.1
sphinx-copybutton>=0.2.12
numpydoc>=0.8.0
matplotlib>=3.0.0
IPython>=7.2.0


# testing dependencies
tox>=3.0.0
flake8>=3.5.0
pytest>=3.7.1
pluggy>=0.7
pytest-cov>=2.5.1
pytest-runner>=2.11.1
pytest-benchmark>=3.1.1
