name: "Codeowners Validator"

on:
  push:
    branches:
      - "main"
  pull_request_target:
  workflow_dispatch:

jobs:
  validate:
    name: "Validate"
    if: github.repository_owner == 'glotaran'
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository, which is validated in the next step
      - name: show event name
        run: echo "${{ github.event_name }}"
      - name: Checkout pull request
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Checkout repo
        if: github.event_name != 'pull_request_target'
        uses: actions/checkout@v6
      - name: GitHub CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.4
        with:
          checks: "files,owners,duppatterns"
          experimental_checks: "notowned"
          # GitHub access token is required only if the `owners` check is enabled
          github_access_token: "${{ secrets.OWNERS_VALIDATOR_GITHUB_SECRET }}"
